.DS_STORE
.idea/

SpatialOS/.improbable
SpatialOS/logs
SpatialOS/schema/bin
SpatialOS/schema/improbable
SpatialOS/lib
SpatialOS/tools

client/bin/
client/lib/
client/src/improbable/generated

HelloWorker/bin/
HelloWorker/lib/
HelloWorker/src/improbable/generated

DiceWorker/bin/
DiceWorker/lib/
DiceWorker/src/improbable/generated
